include data.pug
include ../.././components/point/point.pug
include ../.././components/image/image.pug

section.numbers
  .l-default
    +point({
      number: '11',
      text: 'Преимущества',
    })
    .numbers__top
      h2.numbers__title.f-h2 Заголовк блока с логотипами в разработке
      .numbers__description.f-body Текст описания блока в разработке, примерный объем текста может варьировтаься от 2-3 строк до 4-5.. Все ситуалисвно
    .numbers__items
      each numbers_item in numbers_items
        .numbers__item
          .numbers__item-top
            .numbers__item-title= numbers_item.title
            .numbers__item-title.numbers__item-title-mobile= numbers_item.title_mobile
            .numbers__item-caption.f-caps= numbers_item.caption
            .numbers__item-caption.numbers__item-caption-mobile.f-caps= numbers_item.caption_mobile
          .numbers__item-bottom
            .numbers__item-progress
            .numbers__item-description.f-body= numbers_item.description
          - if (numbers_item.img)
            .numbers__item-img
              +image({
                src: numbers_item.img,
                type: 'png',
              })
    .numbers__map
      .numbers__map-top
        .numbers__map-title 27
        .numbers__map-text.f-caps Стран — сторон сделок
      include ../.././components/map/map.pug