include data.pug
include ../.././components/point/point.pug
include ../.././components/image/image.pug
include ../.././components/tabs/tabs.pug
include ../.././components/button/button.pug

section.services-main
  .l-default
    +point({
      number: '05',
      text: 'основные услуги',
    })
    h2.services-main__title.f-h2.f-centered Заголовк блока про услуги<br /> в разработке
    +tabs(services_main_tabs)
    .services-main__items
      each services_main_item in services_main
        a.services-main__item.tabs__content(href="")
          .services-main__item-top
            .services-main__item-step.f-body= services_main_item.step
            .services-main__item-title.f-h3= services_main_item.title
          .services-main__item-img
            +image({
              src: services_main_item.img,
              type: services_main_item.type,
            })
          .services-main__item-text.f-body= services_main_item.text
          .services-main__columns
            each services_main_column in services_main_item.items
              .services-main__column
                .services-main__column-caption.f-h4= services_main_column.title
                .services-main__column-text.f-body-small= services_main_column.text
          +button({
            text: services_main_item.btnText,
            icon: services_main_icon,
          })
